{% extends "shop/index.html" %}
{% load static %}


{% block content %}
<div class="container">
    <h2>Rechnung Details</h2>
    
    <div class="card mt-3">
        <div class="card-header">
            Rechnung ID: {{ invoice.invoice_id }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Bestellnummer: {{ invoice.order.order_id }}</h5>
            <p class="card-text"><strong>Kunde:</strong> {{ invoice.customer.user.username }}</p>
            <p class="card-text"><strong>Erstellt am:</strong> {{ invoice.created_at }}</p>
            <p class="card-text"><strong>Aktualisiert am:</strong> {{ invoice.updated_at }}</p>
            
            <h5>Adresse:</h5>
            <p>
                {{ address.address }}<br>
                {{ address.zipcode }} {{ address.city }}<br>
                {{ address.country }}
            </p>

            <h5>Bestellte Artikel:</h5>
            <ul>
                {% for article in ordered_articles %}
                    <li>{{ article.article.name }} - Menge: {{ article.quantity }} - Preis: {{ article.article.price }} EUR - Gesamt: {{ article.get_total }}</li>
                {% endfor %}
                <li><strong>Gesamt: {{ order.get_cart_total }} EUR</strong></li>
            </ul>

            <h5>Rechnungs-PDF:</h5>
            {% if invoice.pdf %}
                <a href="{{ invoice.pdf.url }}" class="btn btn-primary">PDF herunterladen</a>
            {% else %}
                <p>PDF wurde noch nicht generiert.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
