{% extends "shop/index.html" %}

{% block content %}
    
    <div class="col-12 mb-4">
        <div class="shadow p-3">
            <div class="d-flex flex-wrap">
                <h3 class="me-auto fw-bold p-2">Artikel anlegen oder bearbeiten</h3>
            </div>
            <p class="text-muted mb-4">Um einen Artikel zu bearbeiten, suche den entsprechenden Artikel in <a href="#artikel-loeschen">unten stehender Tabelle</a> und wähle <b>bearbeiten</b>.
                <br />
                Artikelnummern werden automatisch erzeugt. Wird eine Artikelnummer vorgegeben, kann sie ausschließlich von Administratoren im Backend angepasst werden.
            </p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Artikel speichern</button>
                <!-- Ändern Sie den Typ von reset zu submit und fügen Sie ein name-Attribut hinzu -->
                <button type="submit" name="reset" class="btn btn-secondary mt-3 ms-2">Abbrechen</button>
            </form>            
            <br>
        </div>
    </div>

    <div class="col-12 mb-4">
        <div class="shadow p-3">
            <div class="d-flex flex-wrap">
                <h3 class="me-auto fw-bold p-2" id="artikel-loeschen">Artikel bearbeiten</h3>
            </div>
    
            <!-- Table for larger screens -->
            <div class="table-responsive d-none d-sm-block">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th>Preis</th>
                            <th>Bild</th>
                            <th>Kategorie</th>
                            <th>Aktionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in page_obj %}
                            <tr>
                                <td>{{ article.article_number }}</td>
                                <td><a href="{% url 'article_detail' id=article.id %}">{{ article.name }}</a></td>
                                <td>{{ article.description }}</td>
                                <td>{{ article.price }} €</td>
                                <td>
                                    {% if article.img %}
                                        <img src="{{ article.img.url }}" alt="{{ article.name }}" height="50">
                                    {% else %}
                                        Kein Bild
                                    {% endif %}
                                </td>
                                <td>{{ article.category.name }}</td>
                                <td>
                                    <a href="{% url 'delete_article_confirmation' article.id %}" class="btn btn-danger btn-sm">Löschen</a>
                                    <a href="{% url 'edit_article' article.id %}" class="btn btn-primary btn-sm">Bearbeiten</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
            <!-- Cards for smaller screens -->
            <div class="d-block d-sm-none">
                {% for article in page_obj %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.name }}</h5>
                            <p class="card-text"><strong>ID:</strong> {{ article.article_number }}</p>
                            <p class="card-text"><strong>Beschreibung:</strong> {{ article.description }}</p>
                            <p class="card-text"><strong>Preis:</strong> {{ article.price }} €</p>
                            <p class="card-text">
                                <strong>Bild:</strong> 
                                {% if article.img %}
                                    <img src="{{ article.img.url }}" alt="{{ article.name }}" class="img-fluid" style="max-height: 150px;">
                                {% else %}
                                    Kein Bild
                                {% endif %}
                            </p>
                            <p class="card-text mb-2"><strong>Kategorie:</strong> {{ article.category.name }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'delete_article_confirmation' article.id %}" class="btn btn-danger btn-sm">Löschen</a>
                                <a href="{% url 'edit_article' article.id %}" class="btn btn-primary btn-sm">Bearbeiten</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1#artikel-loeschen">&laquo; Erste</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}#artikel-loeschen">Zurück</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo; Erste</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">Zurück</span>
                        </li>
                    {% endif %}
            
                    <li class="page-item active">
                        <span class="page-link">
                            Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>
            
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}#artikel-loeschen">Weiter</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}#artikel-loeschen">Letzte &raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Weiter</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">Letzte &raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock content %}
