{% extends "shop/index.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="shadow p-3">
                <h2 class="fw-bold">Reklamation für Bestellung #{{ order.order_id }}</h2>
                <p class="fw-bold mt-3">Bestellte Artikel</p>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Artikel</th>
                                <th scope="col">Menge</th>
                                <th scope="col">Preis</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in ordered_articles %}
                            <tr>
                                <td>{{ article.article.name }}</td>
                                <td>{{ article.quantity }}</td>
                                <td>{{ article.article.price|floatformat:2 }} €</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="shadow p-3 mb-4">
                <p>Bitte fülle die folgenden Angaben aus, um eine Reklamation zu erstellen:</p>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Reklamation einreichen</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
