<footer class="text-center text-white mt-auto" style="background-color: #0066cc;">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Links -->
    <section class="mt-5">
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5">
        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'about' %}" class="text-white">Über uns</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'products' %}" class="text-white">Produkte</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'awards' %}" class="text-white">Auszeichnungen</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'help' %}" class="text-white">Hilfe</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'contact' %}" class="text-white">Kontakt</a>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-5" />

    <!-- Section: Text -->
    <section class="mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p>Willkommen bei DanShop - wo veraltete Technik ein neues Zuhause findet!</p>
          <p>Erinnern Sie sich noch an die Zeit, als Disketten die Welt beherrschten und Einwahl-Internet der letzte Schrei war? Schwelgen Sie in diesen Erinnerungen mit unserer Sammlung alter Geräte, die niemand wirklich braucht, aber jeder heimlich haben will. Feiern Sie mit uns die schrullige Seite der Technikgeschichte, ein verstaubtes Artefakt nach dem anderen!</p>
        </div>
      </div>
    </section>
    <!-- Section: Text -->

    <!-- Section: Social -->
    <section class="text-center mb-5">
      <a target="_blank" href="https://www.facebook.com/" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
      <a target="_blank" href="https://x.com/?lang=de/" class="text-white me-4"><i class="fab fa-twitter"></i></a>
      <a target="_blank" href="https://www.google.com/" class="text-white me-4"><i class="fab fa-google"></i></a>
      <a target="_blank" href="https://www.instagram.com/" class="text-white me-4"><i class="fab fa-instagram"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/daniel-rukober-764a7092" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
      <a target="_blank" href="https://github.com/W45P85" class="text-white me-4"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social -->

    <!-- Section: Legal -->
    <section class="mb-3">
      <p>
        <a href="/privacy" class="text-white">Datenschutzerklärung</a> |
        <a href="/imprint" class="text-white">Impressum</a>
      </p>
    </section>
    <!-- Section: Legal -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white" href="#">(c) Nordlicht Design & Coding</a>
  </div>
  <!-- Copyright -->
</footer>