{% extends "shop/index.html" %}
{% load static %}
{% load ratings %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
            <h3>Kategorien</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'shop' %}" class="text-decoration-none">Alle</a>
                </li>
                {% for category in top_level_categories %}
                    <li class="list-group-item">
                        <a href="?category={{ category.name }}" class="text-decoration-none">{{ category.name }}</a>
                        <span class="badge bg-primary rounded-pill float-end">{{ category.num_articles }}</span>
                        {% if category.children.exists %}
                            <ul class="list-unstyled ms-3">
                                {% include 'shop/category_tree.html' with categories=category.children.all %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for article in articles %}
                <div class="col mb-3">
                    <a href="{% url 'article_detail' id=article.id %}" class="link_shop" title="Artikeldetails">
                        <div class="card h-100">
                            {% if article.img %}
                            <img src="{{ article.img.url }}" class="card-img-top" alt="{{ article.name }}">
                            {% else %}
                            <img src="{% static 'img/dummy.jpg' %}" class="card-img-top" alt="Dummy">
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ article.name }}</h5>
                                {% ratings article read_only=True template_name="shop/star_ratings/widget.html" icon_height=16 icon_width=16 %}
                                <p class="card-text">{{ article.description }}</p>
                                <div class="mt-auto d-flex justify-content-between align-items-center">
                                    <h5 class="text-secondary mb-0">{{ article.price|floatformat:2 }} €</h5>
                                    <button data-artikel="{{ article.id }}" data-action="bestellen" class="btn btn-outline-success warenkorb-bestellen">
                                        <i class="fas fa-shopping-cart fa" title="Warenkorb hinzufügen"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="col-12">
                    <p>Keine Artikel gefunden.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
